body{
    margin:0;
    padding:0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color:#d0eedf;
    display:block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color:#00674F;
    margin: 0;
    padding: 0;
    background-image: url(images/greener\ uganda\ pic\ 2.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    background-attachment: fixed;
}
header{
    background-color: #4F7942;
     padding: 20px 0;
    text-align: center;
    color: #E0C64E;
    margin: 0;
    font-size: 1.0em;
    position: sticky;
    top: 0;
    height: auto;
    align-items: center;
    
    
}
.container{
text-align: center;
background-color:#d0eedf;
padding: 40px 20px;
border-radius: 10px;
max-width: 1000px;
width:90%;
line-height: 1.6;
margin: 50px auto;

}

.hero-section{
font-size:2.5em;
font-weight: bold;
color: black;
}


h1{
    text-align: center;
    font-size: 1.5em;
    color: black;
    
}

.logo-container{
display: flex;
align-items: center;

}

.Logo{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
}
.Logo:hover{
    transform: scale(1.1);
}

.navbar {
    list-style-type: none;
    background-color:#4F7942;
    padding: 0px;
    margin: 0px;
    display: inline-flex;
    overflow: hidden;
    height: 60px;
    align-items: flex-end;
    
}
.navbar a{
    color: #fff;
    text-decoration: none;
    padding:15px;
    display: block;
     text-align: center;
     flex-direction: row;
}
.navbar a:hover{
    background-color: black;
}
.contact-container{
max-width: 600px;
margin:50px auto;
background-color:#4F7942;
padding: 30px;
border-radius: 8px;
text-align: center;
color: black;

}


label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #fff;
}

button{
    display: block;
    text-align: center;
}

.socials{
    margin: 15px 0;
}
.socials a img{
    width: 35px;
    height: 35px;
    margin: 0 8px;
    border-radius: 50%;
    transition: transform 0.3s ease,opacity 0.3s ease;
}
.socials img :hover{
    transform: scale(1.2);
    opacity: 0.8;
}

 .footer{
    padding: 20px;
    max-width:600px ;
    margin: 0 auto;
    text-align: center;
}   